!!!
%html
  %head
    %title Cull21
    %link{href: "data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=",
          rel: "icon",
          type: "image/x-icon"}
    %script{src: "https://use.fontawesome.com/1572aaa11a.js"}
    %link{href: "/style.css", rel: "stylesheet"}
  %body
    %header
      %img{src: "/logo-small.svg"}
      %a{href: "/logout"} Logout

    %main{class: @threads.length > 1 || "chosen"}
      - @threads.each do |thread|
        %section{class: @threads.length > 1 || "selected"}[thread]
          %h1= thread.subject
          %h2
            %span.from= thread.from
            %span.date= thread.date
          %p!= thread.snippet
          .details
            - thread.messages.each do |msg|
              %iframe{src: msg.render_url}[msg]
            .actions
              %form.unread{action: thread.mark_unread_url, method: "post"}
                %button{type: "submit"}
                  %i.fa.fa-envelope-open
                  %span Mark as unread
              %form.archive{action: thread.archive_url, method: "post"}
                %button{type: "submit"}
                  %i.fa.fa-archive
                  %span Archive

    %script{src: "/app.js"}
