!!!
%html
  %head
    %title Cull21
    %link{href: "data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=",
          rel: "icon",
          type: "image/x-icon"}
    %link{href: "/style.css", rel: "stylesheet"}
  %body
    #hero
      %img{src: "/logo-large.svg"}
      %p
        Cull21 hides most of your options from you and lets you
        %span.blue cull
        them down
        %span.red to
        %span.purple one
        %span> .
    
    #c2a
      %a{href: "/cull"} Get started &raquo;
